<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      {{#link-to "application" class="navbar-brand"}}Todo{{/link-to}}
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>{{#link-to "projects" class="btn btn-default btn-sm navbar-btn"}}Projects{{/link-to}}</li>
      </ul>
    </div>
  </div>
</nav>

<main class="container">
  <div id="main-row" class="row">
    <aside class="col-md-2 col-sm-2">
      {{outlet 'sidebar'}}
    </aside>

    <div id="main-outlet" class="col-md-12 col-sm-12">
      {{outlet 'main'}}
    </div>
  </div>
</main>
