<main class="container-fluid">
  <div class="row">
    <header class="col-md-12 col-sm-12 col-xs-12">
      {{#link-to "application" class="root-link"}}Todo{{/link-to}}
      <div id="nav">
        {{#link-to "projects" class="btn btn-default navbar-btn"}}Projects{{/link-to}}
      </div>
    </header>
  </div>

  <div id="main-row" class="row">
    <aside class="col-md-2 col-sm-2">
      {{outlet 'sidebar'}}
    </aside>

    <div id="main-outlet" class="col-md-12 col-sm-12">
      {{outlet 'main'}}
    </div>
  </div>
</main>
