<ul id="tasks-list" class="list-group">
    {{#each task in model}}
        <li class="list-group-item">
          <button class="btn btn-danger" type="button" id="delete-task">✘</button>
          <span>{{task.description}}</span>
        </li>
    {{/each}}
</ul>

{{input type='text' id='new-task'
        value=newDescription action='createTask'}}
