<ul id="tasks-list" class="list-group">
    {{#each task in model itemController='task'}}
        <li class="list-group-item">
          <button class="btn btn-danger btn-xs"
                  type="button"
                  id="delete-task"
                  {{action "removeTask"}}>
                  <i class="fa fa-trash-o fa-lg"></i>
          </button>
          <span>{{task.description}}</span>
        </li>
    {{/each}}
</ul>

{{input type='text' id='new-task'
        value=newDescription action='createTask'}}
