<ul id="tasks-list" class="list-group">
    {{#each task in model}}
        <li class="list-group-item">{{task.description}}</li>
    {{/each}}
</ul>

{{input type='text' id='new-task'
        value=newDescription action='createTask'}}
