$lightblue: #BBD8F2;
$darkblue: #8FA4BF;
$lightbrown: #D9C0A3;
$middlebrown: #BFA58E;
$darkbrown: #594539;

header {
  height: 70px;
  border-bottom: 1px solid black;
  padding-left: 20px;
  color: white;
  background-color: $darkblue;

  .root-link {
    &:active, &:hover, &:visited, &.active {
      text-decoration: none;
      cursor: pointer;
      color: white;
    }
  }
}

aside {
  padding-top: 20px;
  height: 100%;
  background-color: $darkbrown;
  width: 100px;
}

main {
  #main-outlet {
    padding-top: 20px;
  }
}

ul li {
  list-style: none;
  line-height: 2em;

  &:nth-child(odd) {
    background-color: $lightblue;
  }
}

.hide-with-room {
  visibility: hidden;
}
.show-with-room {
  visibility: visible;
}

li {
  .task-actions {
    display: inline;
    margin-left: -5px;

    button + button {
      margin-left: 5px;
    }
  }

  span {
    margin-left: 5px;
  }

  &.completed {
    span {
      text-decoration: line-through;
    }
  }
}
