$lightblue: #BBD8F2;
$darkblue: #8FA4BF;
$lightbrown: #D9C0A3;
$middlebrown: #BFA58E;
$darkbrown: #594539;
$text-darkblue: #476488;

html {
  font-size: 62.5%;
}

h1, h2, h3, h4 {
  text-align: center;
  margin-bottom: 20px;
}

nav {
  &.navbar-default {
    background-color: $darkblue;

    .navbar-brand {
      font-size: 3rem;
      line-height: normal;
      margin-right: 15px;

      &:link, &:visited, &:hover, &:active {
        color: white;
      }
    }

    .navbar-nav li {
      a:active, a:visited, a:hover {
        background-color: white;
      }

      list-style: none;

      .navbar-btn {
        font-size: 1.6rem;
        padding: 10px;
      }
    }
  }

  &.navbar {
    margin-bottom: 20px;
    border-radius: 0;
    border: 0px;
  }
}

aside {
  display: none;
  padding-top: 20px;
  height: 100%;
  background-color: $darkbrown;
}

.panel-body {
  padding: 0;

  ul {
    margin-bottom: 0;
  }

  li {
    border-left: 0px;
    border-right: 0px;

    &:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }

    &:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

#tasks-list {
  li {
    list-style: none;
    line-height: 1.8em;
    color: $text-darkblue;

    &.list-group-item {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    &:nth-child(odd) {
      background-color: $lightblue;
    }

    &.completed {
      span {
        text-decoration: line-through;
      }
    }
  }

  .task-description {
    overflow: auto;
  }

  .task-actions {
    display: inline;
    margin-left: -5px;

    button + button {
      margin-left: 5px;
    }
  }
}
